#container {
  border: solid 10px red;
  width: 400px;
  height: 400px;
  overflow: auto;
}


.item{
  border : solid 1px black;
  height: 25% ;
  width: 25%;
  float: left;
  clear: right;
  box-sizing: border-box;
}
